form {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.input {
    padding: 10px;
    outline-color: none;
    font-size: 16px;
}

.input:focus {
    box-shadow: 0 0 5px #cccccc;
}

.btn {
    background-color: rgb(20, 124, 243);;
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    transition: all .1s;
}

.btn:hover {
    background-color: rgb(1, 72, 153);;
}