* {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url(background-image.jpg)
}

.logo {
    width: 25%;
}

.menu {
    background-color: #17d199;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li:hover {
    background-color: #3784db;
    padding: 15px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}