* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("imagens/background-image.jpg");
    height: 100%;
    margin: 0;
}

.logo {
    padding-top: 5px;
    width: 20%;
}

.menu {
    background-color: #17d199;
    margin-top: 40px;
    width: 100%;
}

.menu li {
    display: inline-block;
}

.menu li:hover {
    background-color: #3784db;
    padding: 15px;
    transition: all .25s;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 10px;
}

.estiloimagens {
    border-style: solid;
    border-color: #135020;
    background-color: #cccccc;
    padding: 0;
}

hr {
    color: white;
}

.imagensnoticia {
    width: 200px;
    width: 100%;
    height: auto;
}

.imagensnoticia:hover {
    zoom: 1;
    transform: scale(1.2);
}

.botaoleiamais {
    border-radius: 15px;
    border-color: rgb(20, 190, 154);
}

.botaoleiamais:hover {
    color: rgb(57, 57, 245);
}

#direitosreservados {
    color: #111111;
    text-align: center;
}

.logolateral {
    margin-top: 100px;
}

.logolateral:hover {
    transform: scale(1.1);
}

table {
    border-style: solid;
    border-color: #111111
}

table td {
    text-align: center;
    background-color: #cccccc;
}

table th {
    background-color: #aaaaaa;
}

#entre-em-contato {
    padding-left: 10px;
}

#salariototal {
    text-align: right;
    font-weight: bolder;
}

.stSalario {
    font-weight: bolder;
}

.elementosformulario {
    padding-left: 25px;
}

form {
    padding-left: 15px;
}

form textarea {
    min-height: 250px;
    max-height: 500px;
    width: 500px;
}

.dicas_contato {
    text-align: right;
    border-style: solid;
    border-color: #ffffff;
    color: #111111;
    background-color: #53dfb5;
}

.btn {
    float: right;
}

.max-width{
    max-width: 1200px;
    margin: 0 auto;
}